In [1]:
#WEB SCRAPING ATTEMPT

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [6]:
URL = 'https://www.deptofnumbers.com/rent/tennessee/nashville/'

In [7]:
resp = requests.get(URL)

In [8]:
print(resp.status_code)

200

In [10]:
soup = BeautifulSoup(resp.text, 'lxml')

In [11]:
print(soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
 <head>
  <meta content="width=device-width" name="viewport"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="tennessee average rent" name="keywords"/>
  <meta content="Average monthly gross rent in Nashville Tennessee was $1,033 in 2017.  Median monthly gross residential rent in Nashville Tennessee was $1,030 in 2017.  2018 rent data for Nashville Tennessee will be released in September of 2019." name="description"/>
  <title>
   Residential Rent Statistics for Nashville Tennessee | Department of Numbers
  </title>
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
  </script>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2637528452711498",
          enable_page_level_ads: true
     });
  </script>
  <link href="https://www.deptofnumbers.com/css/styles.css?a96cbf7d49acf53f1107f75c4c53c8c8" media="screen, projection" rel="stylesheet" type="text/css"/>
  <!--[if IE]><link rel="stylesheet" href="https://www.deptofnumbers.com/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!-- <script type="text/javascript" src="https://www.deptofnumbers.com/js/jquery.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
  </script>
  <link href="https://www.deptofnumbers.com/rent/tennessee/nashville" rel="canonical"/>
  <link href="https://www.deptofnumbers.com/images/favicon.ico" rel="shortcut icon"/>
  <link href="https://www.deptofnumbers.com/rent/tennessee/nashville/feed/" rel="alternate" title="Residential Rent Statistics for Nashville Tennessee | Department of Numbers" type="application/atom+xml"/>
 </head>
 <body>
  <script type="text/javascript">
   window.google_analytics_uacct = "UA-8849736-2";
  </script>
  <div id="masthead">
   <div class="wideads" id="leaderboard">
    <div class="google_ad">
     <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <ins class="adsbygoogle" data-ad-client="ca-pub-2637528452711498" data-ad-slot="5299470355" style="display:inline-block;width:728px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <a href="https://www.deptofnumbers.com">
    <img alt="Department of Numbers" height="90px" src="https://www.deptofnumbers.com/images/don.png" width="247px"/>
   </a>
  </div>
  <div id="mobile_navgroup" style="display: none;">
   <ul>
    <li class="inline">
     <a href="https://www.deptofnumbers.com/unemployment">
      Unemployment
     </a>
     •
    </li>
    <li class="inline">
     <a href="https://www.deptofnumbers.com/employment">
      Employment
     </a>
     •
    </li>
    <li class="inline">
     <a href="https://www.deptofnumbers.com/income">
      Income
     </a>
     •
    </li>
    <li class="inline">
     <a href="https://www.deptofnumbers.com/rent">
      Rent
     </a>
     •
    </li>
    <li class="inline">
     <a href="https://www.deptofnumbers.com/gdp">
      GDP
     </a>
    </li>
   </ul>
  </div>
  <div id="main">
   <div class="container">
    <div class="lcontent span-15 last">
     <h1 class="top">
      Nashville Tennessee Residential Rent and Rental Statistics
     </h1>
     <p>
      The
      <strong>
       median monthly gross residential rent in Nashville, TN (the Nashville-Davidson--Murfreesboro-Franklin metro area) was $1,030 in 2017
      </strong>
      according to the
      <a href="http://www.census.gov/acs/www/">
       Census ACS
      </a>
      survey.
      <sup>
       <a href="#f-1" id="r-1" name="r-1">
        1
       </a>
      </sup>
      <strong>
       Average gross rent in Nashville was $1,033 in 2017
      </strong>
      .  The median rent more accurately depicts rental rates in the middle of the distribution of rents and is thus preferred in the analysis below.  2018 Nashville median and average rent data will be released in September of 2019.
     </p>
     <p>
      Data is also available below for
      <a href="#vacancy_rate">
       Nashville rental vacancy rates
      </a>
      ,
      <a href="#pct_income">
       Nashville rent as a percent of median income
      </a>
      and the
      <a href="#renter_fraction">
       fraction of renters in Nashville
      </a>
      .
     </p>
     <p style="float: right; position: relative; top: 8px;">
      Show dollars as:
      <a id="show_nominal">
       Nominal
      </a>
      <a class="selected" id="show_real">
       Real
      </a>
     </p>
     <div id="nominal_rent" style="display: none;">
      <h3>
       Nominal Gross Rent in Nashville Tennessee
      </h3>
      <table class="chgtable" summary="Table of median gross rent changes for Nashville Tennessee over the past few years">
       <tr>
        <th class="col1">
        </th>
        <th>
         2017
        </th>
        <th>
         1 Year Change
        </th>
        <th>
         3 Year Change
        </th>
       </tr>
       <tr>
        <td class="col1">
         US Median Gross Rent
        </td>
        <td class="stat">
         $1,012
        </td>
        <td class="stat green">
         +3.16%
        </td>
        <td class="stat green">
         +8.35%
        </td>
       </tr>
       <tr>
        <td class="col1">
         Tennessee Median Gross Rent
        </td>
        <td class="stat">
         $833
        </td>
        <td class="stat green">
         +3.35%
        </td>
        <td class="stat green">
         +8.18%
        </td>
       </tr>
       <tr>
        <td class="col1">
         Nashville, TN Median Gross Rent
        </td>
        <td class="stat">
         $1,030
        </td>
        <td class="stat green">
         +5.86%
        </td>
        <td class="stat green">
         +16.91%
        </td>
       </tr>
      </table>
      <h2>
       Nashville, TN Nominal Gross Rent Trends
      </h2>
      <p>
       At $1,030, nominal median gross rent in Nashville was at its highest level in 2017 since the series began in 2005.

  At $1,033, nominal average gross rent in Nashville was at its highest level in 2017 since the series began in 2005.
      </p>
      <h3>
       Nominal Gross Rent in Nashville Tennessee:
       <span class="blue">
        Nashville TN Median
       </span>
       ,
       <span class="green">
        Nashville TN Average
       </span>
       ,
       <span class="black">
        Tennessee Median
       </span>
       ,
       <span class="grey">
        US Median
       </span>
      </h3>
      <img alt="Lower quartile, median and upper quartile nominal gross rent in Nashville Tennessee" src="https://chart.apis.google.com/chart?chxt=x,y&amp;cht=lc&amp;chs=594x200&amp;chxs=0,666666,11,.3|1,666666,11,-1&amp;chd=s:gijlmmnoprtvy,ghjlmmoppsuwy,cefghijklmmnp,klnopqrrsuvwx&amp;chxl=0:|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|1:|$0|$250|$500|$750|$1,000|$1,250&amp;chg=8.33,20.00,1,2,0.00,0&amp;chco=0000cc,1db725,555555,dddddd" title="Lower quartile, median and upper quartile nominal gross rent in Nashville Tennessee"/>
      <h2>
       Nominal Gross Rent History for Nashville
      </h2>
      <table class="stdtable" id="table_297457" summary="Nominal gross rent rates since 2005">
       <thead>
        <tr>
         <th class="col1">
          Date
         </th>
         <th>
          US
          <br/>
          Median
         </th>
         <th>
          Tennessee
          <br/>
          Median
         </th>
         <th>
          Nashville, TN
          <br/>
          Median
         </th>
         <th>
          Nashville, TN
          <br/>
          Average
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="col1">
          2017
         </td>
         <td class="stat">
          $1,012
         </td>
         <td class="stat">
          $833
         </td>
         <td class="stat">
          $1,030
         </td>
         <td class="stat">
          $1,033
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2016
         </td>
         <td class="stat">
          $981
         </td>
         <td class="stat">
          $806
         </td>
         <td class="stat">
          $973
         </td>
         <td class="stat">
          $985
         </td>
        </tr>
        <tr>
         <td class="col1">
          2015
         </td>
         <td class="stat">
          $959
         </td>
         <td class="stat">
          $785
         </td>
         <td class="stat">
          $917
         </td>
         <td class="stat">
          $950
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2014
         </td>
         <td class="stat">
          $934
         </td>
         <td class="stat">
          $770
         </td>
         <td class="stat">
          $881
         </td>
         <td class="stat">
          $894
         </td>
        </tr>
        <tr>
         <td class="col1">
          2013
         </td>
         <td class="stat">
          $905
         </td>
         <td class="stat">
          $748
         </td>
         <td class="stat">
          $849
         </td>
         <td class="stat">
          $842
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2012
         </td>
         <td class="stat">
          $884
         </td>
         <td class="stat">
          $730
         </td>
         <td class="stat">
          $828
         </td>
         <td class="stat">
          $835
         </td>
        </tr>
        <tr>
         <td class="col1">
          2011
         </td>
         <td class="stat">
          $871
         </td>
         <td class="stat">
          $715
         </td>
         <td class="stat">
          $800
         </td>
         <td class="stat">
          $814
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2010
         </td>
         <td class="stat">
          $855
         </td>
         <td class="stat">
          $697
         </td>
         <td class="stat">
          $783
         </td>
         <td class="stat">
          $784
         </td>
        </tr>
        <tr>
         <td class="col1">
          2009
         </td>
         <td class="stat">
          $842
         </td>
         <td class="stat">
          $682
         </td>
         <td class="stat">
          $784
         </td>
         <td class="stat">
          $779
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2008
         </td>
         <td class="stat">
          $824
         </td>
         <td class="stat">
          $660
         </td>
         <td class="stat">
          $756
         </td>
         <td class="stat">
          $765
         </td>
        </tr>
        <tr>
         <td class="col1">
          2007
         </td>
         <td class="stat">
          $789
         </td>
         <td class="stat">
          $634
         </td>
         <td class="stat">
          $714
         </td>
         <td class="stat">
          $723
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2006
         </td>
         <td class="stat">
          $763
         </td>
         <td class="stat">
          $613
         </td>
         <td class="stat">
          $705
         </td>
         <td class="stat">
          $684
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <div id="real_rent">
      <h3>
       Real Gross Rent in Nashville Tennessee (2017 dollars)
       <sup>
        <a href="#f-2" id="r-2" name="r-2">
         2
        </a>
       </sup>
      </h3>
      <table class="chgtable" summary="Table of median gross rent changes for Nashville Tennessee over the past few years">
       <tr>
        <th class="col1">
        </th>
        <th>
         2017
        </th>
        <th>
         1 Year Change
        </th>
        <th>
         3 Year Change
        </th>
       </tr>
       <tr>
        <td class="col1">
         US Median Gross Rent
        </td>
        <td class="stat">
         $1,012
        </td>
        <td class="stat green">
         +1.61%
        </td>
        <td class="stat green">
         +5.86%
        </td>
       </tr>
       <tr>
        <td class="col1">
         Tennessee Median Gross Rent
        </td>
        <td class="stat">
         $833
        </td>
        <td class="stat green">
         +1.71%
        </td>
        <td class="stat green">
         +5.71%
        </td>
       </tr>
       <tr>
        <td class="col1">
         Nashville, TN Median Gross Rent
        </td>
        <td class="stat">
         $1,030
        </td>
        <td class="stat green">
         +4.25%
        </td>
        <td class="stat green">
         +14.19%
        </td>
       </tr>
      </table>
      <h2>
       Nashville, TN Real Gross Rent Trends
      </h2>
      <p>
       At $1,030, real median gross rent in Nashville was at its highest level in 2017 since the series began in 2005.

  At $1,033, real average gross rent in Nashville was at its highest level in 2017 since the series began in 2005.
      </p>
      <h3>
       Real Gross Rent in Nashville:
       <span class="blue">
        Nashville TN Median
       </span>
       ,
       <span class="green">
        Nashville TN Average
       </span>
       ,
       <span class="black">
        Tennessee Median
       </span>
       ,
       <span class="grey">
        US Median
       </span>
      </h3>
      <img alt="Lower quartile, median and upper quartile real gross rent" src="https://chart.apis.google.com/chart?chxt=x,y&amp;cht=lc&amp;chs=594x200&amp;chxs=0,666666,11,.3|1,666666,11,-1&amp;chd=s:npoqqppqqsuwy,noorqpqqqtwxy,jkjllllllmnop,rssutttttvwxx&amp;chxl=0:|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|1:|$0|$250|$500|$750|$1,000|$1,250&amp;chg=8.33,20.00,1,2,0.00,0&amp;chco=0000cc,1db725,555555,dddddd" title="Lower quartile, median and upper quartile real gross rent"/>
      <h2>
       Real Gross Rent History for Nashville
      </h2>
      <table class="stdtable" id="table_742735" summary="Real gross rent rates since 2005">
       <thead>
        <tr>
         <th class="col1">
          Date
         </th>
         <th>
          US
          <br/>
          Median
         </th>
         <th>
          Tennessee
          <br/>
          Median
         </th>
         <th>
          Nashville, TN
          <br/>
          Median
         </th>
         <th>
          Nashville, TN
          <br/>
          Average
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="col1">
          2017
         </td>
         <td class="stat">
          $1,012
         </td>
         <td class="stat">
          $833
         </td>
         <td class="stat">
          $1,030
         </td>
         <td class="stat">
          $1,033
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2016
         </td>
         <td class="stat">
          $996
         </td>
         <td class="stat">
          $819
         </td>
         <td class="stat">
          $988
         </td>
         <td class="stat">
          $1,000
         </td>
        </tr>
        <tr>
         <td class="col1">
          2015
         </td>
         <td class="stat">
          $987
         </td>
         <td class="stat">
          $808
         </td>
         <td class="stat">
          $943
         </td>
         <td class="stat">
          $977
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2014
         </td>
         <td class="stat">
          $956
         </td>
         <td class="stat">
          $788
         </td>
         <td class="stat">
          $902
         </td>
         <td class="stat">
          $915
         </td>
        </tr>
        <tr>
         <td class="col1">
          2013
         </td>
         <td class="stat">
          $924
         </td>
         <td class="stat">
          $764
         </td>
         <td class="stat">
          $867
         </td>
         <td class="stat">
          $860
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2012
         </td>
         <td class="stat">
          $912
         </td>
         <td class="stat">
          $753
         </td>
         <td class="stat">
          $854
         </td>
         <td class="stat">
          $861
         </td>
        </tr>
        <tr>
         <td class="col1">
          2011
         </td>
         <td class="stat">
          $912
         </td>
         <td class="stat">
          $749
         </td>
         <td class="stat">
          $838
         </td>
         <td class="stat">
          $853
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2010
         </td>
         <td class="stat">
          $927
         </td>
         <td class="stat">
          $755
         </td>
         <td class="stat">
          $849
         </td>
         <td class="stat">
          $850
         </td>
        </tr>
        <tr>
         <td class="col1">
          2009
         </td>
         <td class="stat">
          $931
         </td>
         <td class="stat">
          $754
         </td>
         <td class="stat">
          $867
         </td>
         <td class="stat">
          $861
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2008
         </td>
         <td class="stat">
          $947
         </td>
         <td class="stat">
          $758
         </td>
         <td class="stat">
          $868
         </td>
         <td class="stat">
          $879
         </td>
        </tr>
        <tr>
         <td class="col1">
          2007
         </td>
         <td class="stat">
          $899
         </td>
         <td class="stat">
          $722
         </td>
         <td class="stat">
          $814
         </td>
         <td class="stat">
          $824
         </td>
        </tr>
        <tr class="even">
         <td class="col1">
          2006
         </td>
         <td class="stat">
          $909
         </td>
         <td class="stat">
          $730
         </td>
         <td class="stat">
          $840
         </td>
         <td class="stat">
          $815
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <script>
      $("#show_real").click(function(event) {
 $(event.target).addClass('selected');
 $('#show_nominal').removeClass('selected');
 $('#nominal_rent').hide();
 $('#real_rent').show();
});

$("#show_nominal").click(function(event) {
 $(event.target).addClass('selected');
 $('#show_real').removeClass('selected');
 $('#nominal_rent').show();
 $('#real_rent').hide();
});
     </script>
     <h2>
      <a id="vacancy_rate">
       Nashville Rental Vacancy Rate
      </a>
     </h2>
     <p>
      The rental vacancy rate is the fraction of homes for rent that are not occupied.
      <sup>
       <a href="#f-3" id="r-3" name="r-3">
        3
       </a>
      </sup>
      <strong>
       In 2017 the rental vacancy rate for Nashville Tennessee was 5.85%
      </strong>
      according to Census ACS data.
     </p>
     <h3>
      Rental Vacancy Rate in Nashville Tennessee
     </h3>
     <table class="chgtable" summary="Changes in Nashville Tennessee the residential vacancy rate over the past few years">
      <tr>
       <th class="col1">
       </th>
       <th>
        2017
       </th>
       <th>
        1 Year Change
       </th>

In [2]:
TABLES_FROM_WEBSITE = pd.read_html('https://www.deptofnumbers.com/rent/tennessee/nashville/')

In [3]:
TABLES_FROM_WEBSITE

[                        Unnamed: 0    2017 1 Year Change 3 Year Change
 0             US Median Gross Rent  $1,012        +3.16%        +8.35%
 1      Tennessee Median Gross Rent    $833        +3.35%        +8.18%
 2  Nashville, TN Median Gross Rent  $1,030        +5.86%       +16.91%,
     Date US Median Tennessee Median Nashville, TN Median Nashville, TN Average
 0   2017    $1,012             $833               $1,030                $1,033
 1   2016      $981             $806                 $973                  $985
 2   2015      $959             $785                 $917                  $950
 3   2014      $934             $770                 $881                  $894
 4   2013      $905             $748                 $849                  $842
 5   2012      $884             $730                 $828                  $835
 6   2011      $871             $715                 $800                  $814
 7   2010      $855             $697                 $783                  $784
 8   2009      $842             $682                 $784                  $779
 9   2008      $824             $660                 $756                  $765
 10  2007      $789             $634                 $714                  $723
 11  2006      $763             $613                 $705                  $684,
                         Unnamed: 0    2017 1 Year Change 3 Year Change
 0             US Median Gross Rent  $1,012        +1.61%        +5.86%
 1      Tennessee Median Gross Rent    $833        +1.71%        +5.71%
 2  Nashville, TN Median Gross Rent  $1,030        +4.25%       +14.19%,
     Date US Median Tennessee Median Nashville, TN Median Nashville, TN Average
 0   2017    $1,012             $833               $1,030                $1,033
 1   2016      $996             $819                 $988                $1,000
 2   2015      $987             $808                 $943                  $977
 3   2014      $956             $788                 $902                  $915
 4   2013      $924             $764                 $867                  $860
 5   2012      $912             $753                 $854                  $861
 6   2011      $912             $749                 $838                  $853
 7   2010      $927             $755                 $849                  $850
 8   2009      $931             $754                 $867                  $861
 9   2008      $947             $758                 $868                  $879
 10  2007      $899             $722                 $814                  $824
 11  2006      $909             $730                 $840                  $815,
       Unnamed: 0   2017 1 Year Change 3 Year Change
 0             US  6.18%        +0.29%        -0.14%
 1      Tennessee  6.67%        -0.01%        -0.57%
 2  Nashville, TN  5.85%        +1.89%        +1.86%,
     Date     US Tennessee Nashville, TN
 0   2017  6.18%     6.67%         5.85%
 1   2016  5.89%     6.68%         3.96%
 2   2015  5.85%     7.13%         4.87%
 3   2014  6.32%     7.24%         3.99%
 4   2013  6.49%     7.86%         5.67%
 5   2012  6.77%     7.89%         6.65%
 6   2011  7.40%     8.54%         8.10%
 7   2010  8.17%    10.33%         8.48%
 8   2009  8.43%    10.52%        10.23%
 9   2008  7.86%    10.30%         8.75%
 10  2007  7.87%     9.20%         9.74%
 11  2006  7.70%     9.61%         9.89%,
       Unnamed: 0    2017 1 Year Change 3 Year Change
 0             US  20.13%        -0.30%        -0.76%
 1      Tennessee  19.47%        -0.45%        -1.36%
 2  Nashville, TN  19.33%        -0.12%        -0.75%,
     Date      US Tennessee Nashville, TN
 0   2017  20.13%    19.47%        19.33%
 1   2016  20.43%    19.92%        19.45%
 2   2015  20.63%    19.93%        18.98%
 3   2014  20.89%    20.83%        20.08%
 4   2013  20.78%    20.26%        19.59%
 5   2012  20.65%    20.48%        19.29%
 6   2011  20.70%    20.58%        19.20%
 7   2010  20.50%    20.17%        19.59%
 8   2009  20.12%    19.61%        18.42%
 9   2008  19.00%    18.16%        17.50%
 10  2007  18.66%    17.96%        16.88%
 11  2006  18.90%    18.25%        17.74%,
       Unnamed: 0    2017 1 Year Change 3 Year Change
 0             US  36.13%        -0.75%        -0.77%
 1      Tennessee  34.57%        -0.34%        +0.71%
 2  Nashville, TN  34.98%        -0.44%        -0.55%,
     Date      US Tennessee Nashville, TN
 0   2017  36.13%    34.57%        34.98%
 1   2016  36.88%    34.91%        35.42%
 2   2015  36.97%    34.18%        34.30%
 3   2014  36.90%    33.86%        35.53%
 4   2013  36.50%    33.62%        34.30%
 5   2012  36.09%    33.31%        35.38%
 6   2011  35.42%    32.72%        34.24%
 7   2010  34.65%    31.87%        33.57%
 8   2009  34.13%    30.85%        32.24%
 9   2008  33.36%    30.17%        30.46%
 10  2007  32.80%    30.06%        30.33%
 11  2006  32.73%    30.10%        30.99%]

In [5]:
Nominal_Gross_Rent_Nashville = TABLES_FROM_WEBSITE[0]
Nominal_Gross_Rent_Nashville

                        Unnamed: 0    2017 1 Year Change 3 Year Change
0             US Median Gross Rent  $1,012        +3.16%        +8.35%
1      Tennessee Median Gross Rent    $833        +3.35%        +8.18%
2  Nashville, TN Median Gross Rent  $1,030        +5.86%       +16.91%

In [6]:
Nominal_Gross_Rent_History_Nashville = TABLES_FROM_WEBSITE[1]
Nominal_Gross_Rent_History_Nashville

    Date US Median Tennessee Median Nashville, TN Median Nashville, TN Average
0   2017    $1,012             $833               $1,030                $1,033
1   2016      $981             $806                 $973                  $985
2   2015      $959             $785                 $917                  $950
3   2014      $934             $770                 $881                  $894
4   2013      $905             $748                 $849                  $842
5   2012      $884             $730                 $828                  $835
6   2011      $871             $715                 $800                  $814
7   2010      $855             $697                 $783                  $784
8   2009      $842             $682                 $784                  $779
9   2008      $824             $660                 $756                  $765
10  2007      $789             $634                 $714                  $723
11  2006      $763             $613                 $705                  $684

In [7]:
Nashville_Rental_Vacancy_Rate = TABLES_FROM_WEBSITE[5]
Nashville_Rental_Vacancy_Rate

    Date     US Tennessee Nashville, TN
0   2017  6.18%     6.67%         5.85%
1   2016  5.89%     6.68%         3.96%
2   2015  5.85%     7.13%         4.87%
3   2014  6.32%     7.24%         3.99%
4   2013  6.49%     7.86%         5.67%
5   2012  6.77%     7.89%         6.65%
6   2011  7.40%     8.54%         8.10%
7   2010  8.17%    10.33%         8.48%
8   2009  8.43%    10.52%        10.23%
9   2008  7.86%    10.30%         8.75%
10  2007  7.87%     9.20%         9.74%
11  2006  7.70%     9.61%         9.89%

In [9]:
Rent_Fraction_Income = TABLES_FROM_WEBSITE[6]
Rent_Fraction_Income

      Unnamed: 0    2017 1 Year Change 3 Year Change
0             US  20.13%        -0.30%        -0.76%
1      Tennessee  19.47%        -0.45%        -1.36%
2  Nashville, TN  19.33%        -0.12%        -0.75%

In [11]:
Rent_Fraction_Income_Nashville = TABLES_FROM_WEBSITE[7]
Rent_Fraction_Income_Nashville

    Date      US Tennessee Nashville, TN
0   2017  20.13%    19.47%        19.33%
1   2016  20.43%    19.92%        19.45%
2   2015  20.63%    19.93%        18.98%
3   2014  20.89%    20.83%        20.08%
4   2013  20.78%    20.26%        19.59%
5   2012  20.65%    20.48%        19.29%
6   2011  20.70%    20.58%        19.20%
7   2010  20.50%    20.17%        19.59%
8   2009  20.12%    19.61%        18.42%
9   2008  19.00%    18.16%        17.50%
10  2007  18.66%    17.96%        16.88%
11  2006  18.90%    18.25%        17.74%

In [13]:
Fraction_Renting_Household_Units = TABLES_FROM_WEBSITE[8]
Fraction_Renting_Household_Units

      Unnamed: 0    2017 1 Year Change 3 Year Change
0             US  36.13%        -0.75%        -0.77%
1      Tennessee  34.57%        -0.34%        +0.71%
2  Nashville, TN  34.98%        -0.44%        -0.55%